<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shannon Trudeau - Software Engineer </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css\main.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <SCRIPT SRC="dist\all.min.js"></SCRIPT>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div ng-app="" class="container">

  <div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Shannon</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Profile</a></li>
                        <!--<li><a href="index.html">Resume</a></li>-->
                        <li><a href="blog.html">Posts</a></li>
                        <li><a href="index.html">Contact</a></li>
                        <li><a href="random.html">To-Do List Demo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--<div class="col-md-2">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr" value="">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" value="">
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="login">&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <button id="login" type="button" class="btn btn-default">Login</button>
        </div>
    </div>-->
</div>
  <div class="jumbotron">
    <h1>Shannon M Trudeau</h1>
    <!--<p>Resize this responsive page to see the effect!</p>--> 
  </div>

    
    <div class="col-md-4">
      <div class="row">
        <figure class="text-center">
          <img class="img-thumbnail" src=./images/picofme.JPG alt="It's Me!" width="200" height="200">
          <!--<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>-->
        </figure>
      </div>
      <div class="row">
        <h3>Contact Info</h3>
        <p><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Shannon M Trudeau</p>
        <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;smtofny@gmail.com </p>
        <!--<p><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;(585) 489-5146</p>-->
        <p><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;https://github.com/smt9020</p>
        <!--<p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;1260 Lehigh Station Road, Apartment 401, Henrietta, NY 14467</p>-->
        <p><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;<a href="http://www.linkedin.com/pub/shannon-trudeau/50/570/186">LinkedIn</a></p>
        <a class="btn btn-large btn-shannon" href="Shannon_Resume.pdf">Download Resume!</a>
      </div>
      <!--<div class="row">
          <p>Hello World!</p>
          <button id="progress" type="button" class="btn btn-default" value="33">Button 33</button>
          <button id="progress" type="button" class="btn btn-default" value="0">Button 0</button>
          <button id="progress" type="button" class="btn btn-default" value="95">Button 95</button>
      </div>-->
    </div>
    <div class="col-md-8">
      <!--<div class="page-header"></div>--> 
       <div class="row">
          <h2>Objective</h2>   
          <blockquote>
                <p>Dedicated to developing automated solutions in a testing and quality driven environment.</p>
                 <!--<footer>Shannon</footer>-->
          </blockquote>  
          <!--<p>  My Numbers:  <script>document.write(addNumbers(1,2));  </script>  </p>

            <p>My first expression: {{ 5 + 5 }}</p>-->

        </div>
        <div class="row">
          <h2> Education </h2>
          <p><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;B.S. Software Engineering</p>
          <p><a href="https://www.se.rit.edu/">Rochester Institute of Technology</a></p>
          <p><b>Minor:</b> Applied Statistics | <b>Concentration:</b> <abbr title="American Sign Language">ASL</abbr></p>
          <p>September 2011 - May 2015: Graduated Summa Cum Laude</p>
          <p><b>GPA:</b> 3.95</p>
        </div>
        



        <div class="row">
            <h2>Project Contributions</h2>
            <div class="list-group">
              <a href="http://www.se.rit.edu/~ulysses/" class="list-group-item">Trillium Health Grant Management</a>
              <a href="https://www.rit.edu/gccis/news/team-presents-research-related-android-application-security" class="list-group-item">Android Permissions Gap Analysis</a>
              <a href="https://github.com/andymeneely/chromium-history" class="list-group-item">Chromium History Analysis</a>
              <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%E2%80%9CEscaping+Disaster+Together:+An+Agent+Based+Model+of+Evacuation+for+Family+Units%E2%80%9D" class="list-group-item">NetLogo</a>
            </div>
        </div>




        <div class="row">
          <h2> Skills </h2>
            <!--<span class="col-sm-3 label label-success">Success Label</span>  MAKING THE LABELS BIGGER IF YOU WANT-->
            <h4 class="skillsLanguages"> Languages </h4>
            <div ng-init="languages=['Java', 'C Sharp', 'VBScript', 'Ruby','Python']">
              <span ng-repeat="l in languages">
                <span class="label label-success">{{l}}</span>
              </span>
            </div>
            <h4 class="skillsTools"> QA Tools </h4>
            <div ng-init="tools=['HP Application Lifecycle Management (HP Quality Center)', 'HP Unified Functional Testing (HP QuickTest Professional)', 'Selenium Suite', 'SoapUI', 'JUnit', 'NUnit', 'Jasmine']">
              <span ng-repeat="t in tools">
                <span class="label label-success">{{t}}</span> <br>
              </span>
            </div>
            <h4 class="skillsCI"> Continuous Integration </h4>
            <div ng-init="ci=['Jenkins','TeamCity']">
              <span ng-repeat="c in ci">
                <span class="label label-success">{{c}}</span>
              </span>
            </div>
            <h4 class="skillsSC"> Source Control </h4>
            <div ng-init="sControl=['Perforce','Git','SVN']">
              <span ng-repeat="sc in sControl">
                <span class="label label-success">{{sc}}</span>
              </span>
            </div>
            <h4 class="skillsWeb"> Web Dev </h4>
            <div ng-init="web=['Javascript', 'CSS', 'Gulp', 'Bootstrap', 'HTML', 'Angular']">
              <span ng-repeat="w in web">
                <span class="label label-success">{{w}}</span>
              </span>
            </div>
            <h4 class="skillsMethodologies"> Methodologies </h4>
            <div ng-init="methods=['Scrum','Kanban','Waterfall','RUP']">
              <span ng-repeat="m in methods">
                <span class="label label-success">{{m}}</span>
              </span>
            </div>
            <h4 class="skillsOther"> Other </h4>
            <div ng-init="other=['PostgreSQL','SQL Server Management Studio', 'REST','SOAP', 'Rally']">
              <span ng-repeat="o in other">
                <span class="label label-success">{{o}}</span>
              </span>
            </div>
            <h4 class="skillsStats"> Statistics </h4>
            <div ng-init="stats=['R', 'Minitab', 'Excel Macros']">
              <span ng-repeat="s in stats">
                <span class="label label-success">{{s}}</span>
              </span>
            </div>
        </div>
        


        <!--<div class="row">
          <h2> Activities -> collapsable panel</h2>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Activity 1:</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">Information on said Activity</div>
                  <div class="panel-footer">Panel Footer</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Collapsible panel</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">Information on said Activity</div>
                  <div class="panel-footer">Panel Footer</div>
                </div>
              </div>
            </div>
        </div>-->

      



        <div class="row" ng-init="awards=[
            {name:'Lenel Hackathon 3rd Place',year:'2015'},
            {name:'RIT Senior Project finalist for GREAT awards',year:'2015'},
            {name:'Android Permissions Gap project 1st Place Regional IEEE Conference Poster Session (Western, NY)',year:'2015'},
            {name:'Personal Success Skills Leadership Certificate from RIT',year:'2014'},
            {name:'Outstanding Undergraduate Scholar Award',year:'2014'},
            {name:'Tri Sigma Foundation Scholarship',year:'2014'},
            {name:'Nathaniel Rochester Society Scholar',year:'2014'},
            {name:'Alfred L. and Ruby C. Davis Leadership Award',year:'2014'},
            {name:'GCCIS Alumni Association Scholarship',year:'2012-14'},
            {name:'Women’s Council of RIT Endowed Scholarship',year:'2013'}
            ]">
          <h2>Recognition</h2>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Years</th>
                <th>Award</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in awards | orderBy : '-year'">
                <td>{{ x.year }}</td>
                <td>{{ x.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>


<!--
  <div class="row">
    <div class="col-md-12">
      <h3>Progress</h3>
      <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <div class="panel panel-success">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse3">Favorite Color</a></div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Shannon's favorite color is green</div>
        </div>
      </div>
    </div>
  </div>

-->
</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69012492-1', 'auto');
  ga('send', 'pageview');

</script>
</html>

